@use '../abstracts/variables' as v;
@use '../abstracts/mixins'    as m;


hr{
  width: 90%;
  margin: 0 auto;
  @include m.breakpoint(desktop-xl){
    width: 77%;
  }

}

.contact{
  position: relative;
  color: v.$white;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.29px;
  text-decoration: none;
  transition: color 0.3s ease;
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: v.$celeste;
   
    top: 30px;

    }
    &:hover{
      color: v.$celeste;
    }



}//contact