@use '../abstracts/variables' as v;
@use '../abstracts/mixins'    as m;


.hero__principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -85px;
    font-family: v.$font-primary;
    @include m.breakpoint(tablet){
        flex-direction: row-reverse;
        align-items: start;
        padding-top: 90px;
    }
    @include m.breakpoint(desktop-xl){
        padding-top: 140px;
        margin-left: 135px;
    }
    
    .adampicture{
        position: relative;
        z-index:-1 ;
        @include m.breakpoint(tablet){
            top: -95px;
            right: -16px;
        }
        @include m.breakpoint(desktop-xl){
            top: -181px;
            right: 135px;
        }
        &::before{
                content: "";
                position:absolute;
                z-index:-2 ;
                color: v.$white;
                width:90%;
                height: 100%;
                background-image: url("/oval-mobile.svg");
                background-repeat: no-repeat;
                top: 133px;
                right: 118px;
                @include m.breakpoint(tablet){
                    width:100%;
                    height: 100%;
                    background-image: url("/oval-tablet.svg");
                    top: 70px;
                    right: 478px;
                }

                @include m.breakpoint(desktop-xl){
                    background-image: url("/oval-desktop.svg");
                    top:133px;
                    left: -833px;
                }
        }
        &::after{
            content: "";
            position:absolute;
            z-index:-1 ;
            color: v.$white;
            width:90%;
            height: 100%;
            background-image: url("/circle.svg");
            background-repeat: no-repeat;
            bottom: -253px;
            left: 210px;
            @include m.breakpoint(tablet){
                z-index: 0;
                top: 470px;
                left: 252px;
            }

            @include m.breakpoint(desktop-xl){
                top: 508px;
                left: -66px;
            }
        }    
    }//adampicture

    .title__principal{
        margin-top: 40px;
        color: v.$white;
        width: 100%;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1.14px;
        @include m.breakpoint(tablet){
            margin-left: 0px;
            padding-left: 10px;
            width: 120%;
            text-align: start;
            font-size: 72px;
            line-height: 72px;
            letter-spacing: -2.05px;

        }
        @include m.breakpoint(desktop-xl){
            width: 100%;
            font-size: 88px;
            line-height: 88px;
            letter-spacing: -2.5px;
            margin-top: 18px;
        }

        span{
            position:relative;

            &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: v.$celeste;
            bottom:0;
            @include m.breakpoint(desktop-xl){
                bottom:6px;
                z-index: -1;
            }

        }
        
    }
    .jump{
        display: none;
            @include m.breakpoint(tablet){
                display: inline;
            }
            @include m.breakpoint(desktop-xl){
                display: none;
            }
            
        }

            
        
        
    }//tittle__principal
    .description{
        margin-top: 24px;
        color: v.$grey;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0px;

        @include m.breakpoint(tablet){
            
            margin-left: 0px;
            padding-left: 10px;
            padding-top: 60px;
            width: 110%;
            text-align: start;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0px;
        }

        @include m.breakpoint(desktop-xl){
            width: 55%;
            padding-top: 30px;
        }

    }//description
    .contact{
        margin-top: 24px;
        margin-bottom: 80px;
        @include m.breakpoint(tablet){
            position:absolute;
            bottom: 160px;
            left: 30px;
        }
        @include m.breakpoint(desktop-xl){
            bottom: 160px;
            left: 160px;
        }
    }

}//hero__principal

.hero__secundary{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    @include m.breakpoint(tablet){
        display: grid;
        grid-template-columns:1fr 1fr ;
        grid-template-rows: auto auto;
    }
    @include m.breakpoint(desktop-xl){
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: auto auto auto; 
        padding-left: 130px; 
        gap: 48px;
    }
    
    
    article{
        text-align: center;
        position: relative;
        overflow: visible;
        @include m.breakpoint(tablet){
            text-align: start;
            margin-left: 14px;
        }
       
        h3{
            color: v.$white;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -1px;
            @include m.breakpoint(tablet){
                font-size: 48px;
                line-height:56px;
                letter-spacing: -1.5px;
            }
        }
        p{
            color: v.$grey;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            @include m.breakpoint(tablet){
                font-size: 18px;
                line-height:28px;
                letter-spacing: 0px;
            }
           
             
        }
        
    }//article
    article:last-child::after{
        content: "";
        position:absolute;
        z-index: 1;
        width:200%;
        height: 200%;
        background-image: url("/linesRighit-mobile.svg");
        background-repeat: no-repeat;
        top: 43px;
        right: -219px;
        @include m.breakpoint(tablet){
            top: 27px;
            right: -512px; 
        }
        @include m.breakpoint(desktop-xl){
            background-image: url("/linesRighit-desktop.svg");
            top: 9px;
            right: -582px; 
        }
            
    }    
}//hero__secundary

.separation_2{
    @include m.breakpoint(tablet){
        display: none;        
    }
}
   
    

    

