@use 'variables' as v;

// ============================
// MIXIN BREAKPOINTS
// Uso: @include m.breakpoint(tablet) { ... }
// ============================
@mixin breakpoint($breakpoint) {
  @if $breakpoint == mobile {
    @media (min-width: v.$bp-mobile)     { @content; }
  } @else if $breakpoint == tablet {
    @media (min-width: v.$bp-tablet)     { @content; }
  } @else if $breakpoint == desktop {
    @media (min-width: v.$bp-desktop)    { @content; }
  } @else if $breakpoint == desktop-xl {
    @media (min-width: v.$bp-desktop-xl) { @content; }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' no definido. Usa: mobile, tablet, desktop, desktop-xl";
  }
}


// ============================
// MIXIN BOTONS
// Uso: @include m.btn
// ============================




// Reseteo de listas

@mixin reset-list(){
  margin: 0;
  padding: 0;
  list-style: none;
}
