// ============================
// ABSTRACTS
// ============================
@use 'abstracts/variables' as v;
@use 'abstracts/mixins'    as m;
@use "abstracts/utilities" as ut;

// ============================
// COMPONENTS
// ============================
@use "components/header" as hd;
@use "components/hero" as hr;
@use "components/footer" as ft;
@use "components/information" as if;
@use "components/buttons" as bt;

// ============================
// BASE
// ============================
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: black;
  background-color: v.$black;

  @include m.breakpoint(mobile) {
    font-size: 14px;
  }
  @include m.breakpoint(tablet) {
    font-size: 16px;
  }
  @include m.breakpoint(desktop) {
    font-size: 18px;
  }
  @include m.breakpoint(desktop-xl) {
    font-size: 20px;
  }
}


 .container{
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px
 } 





//Atributos comunes en de los iconos

.fa-brands{
  color: v.$white;
  transition: color 0.3s ease;

  @include m.breakpoint(tablet){
    width: 24px;
    height: 24px;
  }
  &:hover{
    color: v.$celeste;
  }

}

.icon--frontendmentor{
  width: 22px;
  height: 17px;
  fill:v.$white ;
  transition: fill 0.3s ease;
  @include m.breakpoint(tablet){
    width: 20px;
    height: 19px;
  }

  &:hover{
    fill: v.$celeste;
  }

}



